# This is a sample of a format of channel configuration file
# of standard station interface (digitzier interface)
# Ilya Dricker (i.dricker@isti.com)

######### THIS IS JUST AN EXAMPLE ##########################
############################################################
#
# 1      2       3      4    5       6     7    8     9     10    11    12         13	   14  15     16    17  18
#
# GI   I26DE    I261  I26H1  LDA     LDA   99   99  -999   -999  -999     1   0.525216      0	0      1    0   
# GI   I26DE    I261  I26H1  LEV     LEV   99   99  -999      3    10  -999       -999      0	0      1    0   
# GI   I26DE    I261  I26H1  LKI     LKI   99   99  -999      1   -30  -999       -999      0 	0      1    0   
# GI   I26DE    I261  I26H1  LEW     LEW   99   99  -999      3    10  -999       -999      0	0      1    0   
#
####################################################################################
############## ADD YOUR CHANNELS HERE #############################################
xx   I40PG    12890  I40H1    0      BDF    99   99  -999   -999  -999  -999      -999       2	1      1    0
xx   I40PG    12890  I40H1    1      BDA    99   99  -999   -999  -999  -999      -999       2	1      1    0
xx   I40PG    12906  I40H1    0      BWS    99   99  -999   -999  -999  -999      -999       2	1      1    0
xx   I40PG    12906  I40H1    1      BWD    99   99  -999   -999  -999  -999      -999       2	1      1    0
xx   I40PG    12906  I40H1    2      BKO    99   99  -999   -999  -999  -999      -999       2	1      1    0
xx   I40PG    12900  I40H2    0      BDF    99   99  -999   -999  -999  -999      -999       2	1      1    0
xx   I40PG    12901  I40H3    0      BDF    99   99  -999   -999  -999  -999      -999       2	1      1    0
xx   I40PG    12907  I40H4    0      BDF    99   99  -999   -999  -999  -999      -999       2	1      1    0
xx   I40PG    12909  I40H5    0      BDF    99   99  -999   -999  -999  -999      -999       2	1      1    0
xx   I40PG    12912  I40H6    0      BDF    99   99  -999   -999  -999  -999      -999       2	1      1    0
xx   I40PG    12916  I40H7    0      BDF    99   99  -999   -999  -999  -999      -999       2	1      1    0
xx   I40PG    12917  I40H8    0      BDF    99   99  -999   -999  -999  -999      -999       2	1      1    0
###################################################################################
#Comments:
#  In ssi version of standard station interface each line of the
# channel configuration  file MUST contain 16 fields
#	1) Original network name (->from digitzier)
#	2) CD1 network name (<-to disk buffer). Seems to be useless in CD1.1
#	3) Original station name (->from digitzier)
#	4) CD1 station name (<- to disk buffer)
#	5) Original channel name (->from digitizer)
#  6) CD1 channel name (<- to disk buffer)
#  7) Original location ID (> from digitizer)
#  8) CD1 location ID (< to disk buffer)
#  9) A threshold (in some physical units (f.e., volts)) for some SOH channel
#   !!!   For ssi_hrd2cd11 channels value -1 here indicates that the digitizer signature is ignored.
# 10) A trend component "a" (y = a + bx) for conversion from channel counts to physical units for SOH
# 11) A conversion factor (y = a + bx) for conversion from channel counts to physical units for SOH
# 12) A calibration frequency for a channel (absent in CD1.1, but used in CD1.0)
# 13) A  calibration value (absent in CD1.1, but used in CD1.0)
# 14) A sensor type for CD1.1 (0 - seismic; 1 - hydroacustic; 2 - infrasonic; 3 - weather; > 4 - other)
# 15) 0 if the channel is not supposed to be sent as a channel subframe, 1 if the channel is sent to subframe
# 16) 0 if the channel will not be placed into the disc buffer. 1 if it goes into the disk buffer.
#        Obvious corrolary: if field 15 is 1 field 16 MUST be 1
# 17) Some channels can be used for pass along the status information:
#		The value in this column indicates if the channel is actually a status channel.
#		If the value == 0, this channel is not a status bits one.
#		Here is a list a list of current possible status bits indicators:
#                      DEAD SENSOR  		        1
#                      ZEROED DATA                      2
#                      CLIPPED                          3
#                      CALIBRATION UNDERWAY             4
#                      EQUIPMENT HOUSING OPEN           5
#                      DIGITIZING EQUIPMENT OPENED      6
#                      VAULT DOOR OPENED                7
#                      AUTHENTICATION SEAL BROKEN       8
#                      EQUIPMENT MOVED                  9
#                      CLOCK DIFFERENTIAL TOO LARGE    10
#                      GPS RECEIVER OFF                11
#                      GPS RECEIVER UNLOCKED           12
#                      DIGITIZER INPUT SHORTED         13
#                      DIGITIZER CALIBRATION LOOP BACK 14
#
#
########################################################################################
#  computes DIFFERENTIAL_TOO_LARGE status bits not from every channel available
#  but only from those channels which have marked 10 (clock differential too large)
#  in the status information column of channel configuration file.
#  It is higly advisable to set ONE and ONLY ONE (perhaps, 20 or 40 Hz channel) per station
#  as DIFFERENTIAL TOO LARGE STATUS bits channel
########################################################################################
#	If value in column 16 is not equal to zero, the numbers in columns 9 and 10 of this
#  parameter table is used to compute the status bit from the data time series.
#
#       NOTE: -999 for integer and float values indicate no value.
#       For char strings, a string filled with a digit 9 (nine) is used fo the same purpose.
#######################################################################################################################
