#
# ACL file:
#
#       use no white space and have comma separated commands
#       use # on first line for comment
#
[command-groups]
operator=CALIBRATE,PRIMARY_MODE,UPDATE_CRL,GENERATE_KEYPAIR,START_KEYPAIR
ims=*
key=GENERATE_KEYPAIR,STORE_CERTIFICATE,START_KEYPAIR,UPDATE_CRL
 
#
# note for the ACL list, use no white space and either provide a
#       command-group listed above, or a command name, not both!
#
[ACL]
# Replace this email with the operator's
i.dricker@isti.com=operator

############################################################
# /* ISTI $Id: acl.config,v 1.1.1.1 2004/04/23 22:28:06 ilya Exp $*/
# /* $Log: acl.config,v $
# /* Revision 1.1.1.1  2004/04/23 22:28:06  ilya
# /* Version 2 of ssi configuration
# /* */
############################################################

