# ######## READ THIS FIRST #####################################################
#   This is Command Interface Configuration file                               #
#   It allows to send IMS2.0 remote commands via AutoDRM.                      # 
#   If you do not plan to use remote IMS2.0 command, you can ignore            #  
#   this file altoghether.                                                     #
#                                                                              #
#                                                                              #
#   This file is preconfigured based on the following assumptions              #
#                                                                              #
#  1)                                                                          #
#   Programs token_genkey, ssi_calib, ssi_mode, token_startnewkey, crl_update  #
#   live in /usr/local/ssi/bin                                                 #
#   If this is not so, modifle Path: parameters below                          #
#                                                                              #
#  2)                                                                          #
#  SSI config directory is /home/ssi/config. If it is not so, modify           #
#  corresponding Fixed_arg: configuration lines                                #
#                                                                              #
#  3)                                                                          #
#   Directory for temp files is /home/ssi/tmp and is writable                  #
#                                                                              #
#                        Ilya Dricker (i.dricker@isti.com)                     #
################################################################################

Name: GENERATE_KEYPAIR
Path: /usr/local/ssi/bin/token_genkey
Timeout: 5
Fixed_arg: name=verbosity  flag=-v value_type=none
Fixed_arg: name=skm_par_file  flag=-f value=/home/ssi/config/ssi/key_mgmt/skm.par
Fixed_arg: name=DSA_param_file flag=-m value=/home/ssi/tmp/curCommand.txt
Fixed_arg: name=overwrite flag=-o value=testAwaitingCert
Fixed_arg: name=outfile flag=-O value=/home/ssi/tmp/genkeypair_out.txt
Output_file: /home/ssi/tmp/genkeypair_out.txt

Name: CALIBRATE_START
Path: /usr/local/ssi/bin/ssi_calib
Timeout: 140
Fixed_arg: name=param_file flag=-p value=/home/ssi/config/ssi/master.par
Fixed_arg: name=in_file flag=-i value=/home/ssi/tmp/curCommand.txt
Fixed_arg: name=out_file flag=-o value=/home/ssi/tmp/lastCalibResp.txt
Output_file: /home/ssi/tmp/lastCalibResp.txt


Name: PRIMARY_MODE
Path: /usr/local/ssi/bin/ssi_mode
Timeout: 600
Fixed_arg: name=restart_conf flag=-f value=/home/ssi/config/restart/restart/ssi_restart.conf
Fixed_arg: name=restart_manager flag=-c value=/home/ssi/config/restart/restart/command_manager.conf
Fixed_arg: name=mode flag=-m value=primary
Fixed_arg: name=outfile flag=-o value=/home/ssi/tmp/primary_mode_output.txt
Output_file: /home/ssi/tmp/primary_mode_output.txt

Name: START_KEYPAIR
Path: /usr/local/ssi/bin/token_startnewkey
Timeout: 5
Fixed_arg: name=skm_par_file  flag=-f value=/home/ssi/config/ssi/key_mgmt/skm.par
Fixed_arg: name=verbosity  flag=-v value_type=none
Fixed_arg: name=certificate  flag=-i value=/home/ssi/tmp/curCommand.txt
Fixed_arg: name=outfile flag=-O value=/home/ssi/tmp/startkeypair_out.txt
Output_file: /home/ssi/tmp/startkeypair_out.txt


Name: UPDATE_CRL
Path: /usr/local/ssi/bin/crl_update
Timeout: 100
Fixed_arg: name=param_file flag=-f value=/home/ssi/config/ssi/key_mgmt/skm.par
Fixed_arg: name=crl_file flag=-u value=/home/ssi/tmp/curCommand.txt
Fixed_arg: name=outfile flag=-O value=/home/ssi/tmp/crl_update_log.txt
Output_file: /home/ssi/tmp/crl_update_log.txt

############################################################
# /* ISTI $Id: ssici.config,v 1.1.1.1 2004/04/23 22:28:06 ilya Exp $*/
# /* $Log: ssici.config,v $
# /* Revision 1.1.1.1  2004/04/23 22:28:06  ilya
# /* Version 2 of ssi configuration
# /* */
############################################################

